@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--background: rgb(255 255 255);
	--foreground: rgb(27 27 27);
	--card: rgb(246 239 244);
	--card-foreground: rgb(9 9 9);
	--popover: rgb(255 255 255);
	--primary-foreground: #0c0911;
	--primary: #84cc16;
	--primary-foreground: #0c0911;
	--secondary: rgb(100 92 116);
	--secondary-foreground: rgb(255 255 255);
	--muted: rgb(246 239 244);
	--muted-foreground: rgb(9 9 9);
	--accent: rgb(234 223 251 / 0.5);
	--accent-foreground: rgb(9 9 9);
	--destructive: rgb(223 12 7);
	--border: rgb(203 196 210 / 0.5);
	--input: rgb(123 116 129 / 0.5);
	--ring: rgb(104 81 165);
	--chart-1: rgb(111 107 252);
	--chart-2: rgb(57 192 127);
	--chart-3: rgb(196 105 204);
	--chart-4: rgb(165 211 99);
	--chart-5: rgb(81 151 255);
	--sidebar: rgb(252 252 252);
	--sidebar-foreground: rgb(11 11 11);
	--sidebar-primary: rgb(0 128 167);
	--sidebar-primary-foreground: rgb(248 248 248);
	--sidebar-accent: rgb(238 238 238);
	--sidebar-accent-foreground: rgb(34 34 34);
	--sidebar-border: rgb(222 222 222);
	--sidebar-ring: rgb(0 128 167);
	--body: rgba(10, 10, 10, 0.6);
}

.dark {
	--background: #0c0911;
	--foreground: rgb(251 249 251);
	--card: rgb(31 24 32);
	--card-foreground: rgb(242 236 243);
	--popover: #0c0911;
	--popover-foreground: rgb(242 236 243);
	--secondary: rgb(86 82 101);
	--secondary-foreground: rgb(242 236 243);
	--muted: rgb(29 25 30);
	--muted-foreground: rgb(161 156 162);
	--accent: rgb(63 51 85 / 0.8);
	--accent-foreground: rgb(242 236 243);
	--destructive: rgb(223 12 7);
	--border: rgb(78 66 88 / 0.5);
	--input: rgb(78 66 88);
	--ring: rgb(107 76 174);
	--chart-1: rgb(71 61 237);
	--chart-2: rgb(37 152 77);
	--chart-3: rgb(180 100 232);
	--chart-4: rgb(85 148 0);
	--chart-5: rgb(0 125 243);
	--sidebar: rgb(24 21 25);
	--sidebar-foreground: rgb(242 236 243);
	--sidebar-primary: rgb(14 138 175);
	--sidebar-primary-foreground: rgb(242 236 243);
	--sidebar-accent: rgb(48 44 49);
	--sidebar-accent-foreground: rgb(242 236 243);
	--sidebar-border: rgb(61 57 62 / 0.3);
	--sidebar-ring: rgb(14 138 175);
	--body: rgba(253, 252, 253, 0.7);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--font-sans: "Gabarito", "sans-serif";
	--font-minecraft: "Minecraft", "sans-serif";
	--ease-elastic: linear(
		0,
		0.495 4.9%,
		0.859 10.3%,
		1.097 16.3%,
		1.173 19.6%,
		1.222 23.1%,
		1.249 28%,
		1.24 33.8%,
		1.209 39.1%,
		1.08 56.6%,
		1.024 69%,
		1.004 80.9%,
		1
	);
	--ease-elastic-heavy: linear(
		0,
		0.011 0.7%,
		0.044 1.4%,
		0.17 2.9%,
		0.847 8.1%,
		1.084 10.3%,
		1.23 12.4%,
		1.273 13.5%,
		1.295 14.6%,
		1.296 15.9%,
		1.27 17.4%,
		1.22 19%,
		1.057 23.1%,
		0.986 25.2%,
		0.934 27.5%,
		0.912 29.8%,
		0.919 32.7%,
		1.003 40.4%,
		1.026 45%,
		0.992 60%,
		1.002 75%,
		1
	);
	--color-body: var(--body);
}

@font-face {
	font-family: "Minecraft";
	src:
		url("/fonts/Minecraft-Regular.woff2") format("woff2"),
		url("/fonts/Minecraft-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Minecraft";
	src:
		url("/fonts/Minecraft-Bold.woff2") format("woff2"),
		url("/fonts/Minecraft-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Minecraft";
	src:
		url("/fonts/Minecraft-BoldItalic.woff2") format("woff2"),
		url("/fonts/Minecraft-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Minecraft";
	src:
		url("/fonts/Minecraft-Italic.woff2") format("woff2"),
		url("/fonts/Minecraft-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "SylexiadSansSpacedMed";
	src:
		url("/fonts/SylexiadSansSpacedMed.ttf") format("opentype"),
		url("/fonts/SylexiadSansSpacedMed.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SylexiadSansSpacedMed";
	src:
		url("/fonts/SylexiadSansSpacedMed-Ita.ttf") format("opentype"),
		url("/fonts/SylexiadSansSpacedMed-Ita.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "SylexiadSansSpacedMed";
	src:
		url("/fonts/SylexiadSansSpacedMed-Bold.ttf") format("opentype"),
		url("/fonts/SylexiadSansSpacedMed-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "SylexiadSansSpacedMed";
	src:
		url("/fonts/SylexiadSansSpacedMed-BIta.ttf") format("opentype"),
		url("/fonts/SylexiadSansSpacedMed-BIta.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

body[data-dyslexia-font] {
	font-family: "SylexiadSansSpacedMed";
}

@media screen and (min-width: 96rem /* 2xl */) {
	body::after {
		content: "";
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: radial-gradient(
			circle,
			rgba(0, 0, 0, 0) 50%,
			rgba(0, 0, 0, 0.5)
		);
		z-index: 100;
		pointer-events: none;
		opacity: 0;
		transition: all 0.3s ease;
	}

	.dark body::after {
		opacity: 1;
	}
}

hr {
	transition: all 0.3s ease;
}
